.myHomeIndustries__handler {
  margin-top: 60px;
  padding: 60px 0;
  background: url('../../assets/home-overview/applyForAJobImage.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.myHomeIndustries__handler::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.myHomeIndustries__text h3 {
  position: relative;
  z-index: 1;
  font-size: 38px;
  line-height: 1.5  ;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.myHomeIndustries__textTopHead {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  padding: 3px 10px;
  background-color: #ffffff2b;
  font-size: 13px;
}
.myHomeIndustries__textToptext {
  font-size: 18px;
  position: relative;
  z-index: 1;
  line-height: 1.86;
}
.industrySlide__info {
  margin-bottom: 40px;
}
.industrySlide__info img {
  max-width: 70px;
}
.industrySlide__info h4 {
  font-size: 20px;
}
.customPrevButton,
.customNextButton {
  position: absolute;
  bottom: 40px;
  width: fit-content;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
  color: #FFFFFF8A;
  border: 1px solid #FFFFFF8A;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px;
  transition: all 0.3s ease-in-out;
}

.customPrevButton:hover,
.customNextButton:hover {
  background-color: #FFFFFF8A;
  color: #ffffff;
}

.customPrevButton {
  right: 160px;
}

.customNextButton {
  right: 90px;
}
@media (max-width: 991px) {
  .myHomeIndustries__text {
    margin-bottom: 30px;
  }
}