.servicesIcons__handler {
    padding: 40px 0;
    background: var(--main-blue-color-bg);
    color: #ffffff;
}
.iconContainer {
    padding-inline-end: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesIcons__handler .textContainer p {
    font-size: 12px;
}