@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.error_input {
    border-color: #ff2020 !important;
}
.error_message {
    color: #ff2020;
    font-size: 11px;
}
.section__handler {
    padding: 70px 0;
}
.container {
    max-width: 90% !important;
}
.sectionBgLight {
    background-color: #eee;
}
.cursorPointer {
    cursor: pointer !important;
}
.paginationBtn {
    background-color: #ffffff;
    border: 1px solid var(--main-blue-color-text);
    padding: 5px 10px !important;
    outline: none;
    cursor: pointer;
    color: var(--main-blue-color-text);
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.paginationBtn:hover ,
.paginationBtn.active {
    background-color: var(--main-blue-color-text);
    color: #ffffff;
}
.requiredStar {
    color: #ff2020;
    font-size: 18px;
}
.mainTextColor {
    color: var(--main-blue-color-text);
}
.applicationForm__handler {
    background-color: #e6e6e6;
}
.applicationForm__handler label {
    font-size: 15px;
}