.myServicesCards__handler{
    background-color: var(--main-blue-color-bg);
}
.mainParagraph {
    color: var(--primary-black) !important;
    max-width: 600px;
    text-transform: unset !important;
}
.myServicesCards__handler h3 ,
.myServicesCards__handler h5 ,
.myServicesCards__handler li ,
.myServicesCards__handler p {
    color: #ffffff !important;
}