.myServicesCards__handler{
    margin: 70px 0;
    background-color: #ffffff;
}
.mainParagraph {
    color: var(--primary-black) !important;
    max-width: 600px;
    text-transform: unset !important;
}